{% extends 'base.html.twig' %}

{% block body %}
    <h1>ADMIN</h1>

    <button class="btn btn-danger" type="button"><a href="{{ path('admin_profile', {'userId': member.id}) }}">>>></a></button>
    <button class="btn btn-danger" type="button"><a href="{{ path('admin_list_members') }}">list member</a></button>
{% endblock body %}